* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  font-family: "Open Sans";
  letter-spacing: 0.03em;
  color: #666;
}

body {
  background-color: #eceff1;
}

a {
  text-decoration: none;
  color: black;
}

@font-face {
  font-family: "Open Sans";
  src: url("./assets/fonts/OpenSans-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Open Sans";
  src: url("./assets/fonts/OpenSans-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("./assets/fonts/OpenSans-Bold.ttf");
  font-weight: bold;
}
